{'_id': ObjectId('6869644220580a43c5d8ca19'), 'npi': 1003000126, 'ind_pac_id': 7517003643, 'ind_enrl_id': 'I20231208000285', 'provider_last_name': 'ENKESHAFI', 'provider_first_name': 'ARDALAN', 'provider_middle_name': None, 'suff': None, 'gndr': 'M', 'cred': 'MD', 'med_sch': 'OTHER', 'grd_yr': 1994, 'pri_spec': 'INTERNAL MEDICINE', 'sec_spec_1': None, 'sec_spec_2': None, 'sec_spec_3': None, 'sec_spec_4': None, 'sec_spec_all': None, 'telehlth': None, 'facility_name': 'GEISINGER CLINIC', 'org_pac_id': 5395657001, 'num_org_mem': 2981, 'adr_ln_1': '400 HIGHLAND AVE', 'adr_ln_2': None, 'ln_2_sprs': None, 'city_town': 'LEWISTOWN', 'state': 'PA', 'zip_code': 170441167, 'telephone_number': 7172485411.0, 'ind_assgn': 'Y', 'grp_assgn': 'Y', 'adrs_id': 'PA170441167LE400XXAVEX300', '_inserted_at': datetime.datetime(2025, 7, 5, 17, 43, 30, 148000)}